.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  height: 100vh;
  overflow: auto; /* Allow the container to scroll */
}

.HomeTitle {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items to the top */
  min-height: 800px;
  height: 100vh;
}

.home-content {
  margin-top: 10vh;
  text-align: center;
  width: 100%; /* Make sure it takes full width */
}

.input-container {
  position: fixed; /* Position fixed to stick at the top */
  bottom: 10%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  z-index: 1000; /* Ensure it stays on top of other elements */
}

.curved-input {
  padding: 15px;
  border-radius: 25px; /* Increase border-radius for a more curved look */
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  width: 750px; /* Adjust width as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  backdrop-filter: blur(5px); /* Optional: adds a blur effect to the background */
}

.stop-location-infobox {
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  border-radius: 0.375rem;
  border: 2px solid black;
  background-color: #ffffff;
  font-size: 1rem; 
  line-height: 0.5rem; 
  color: black;
  opacity: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.7rem;
  transform: translateX(-50%);
}

.stop-location-infobox p {
  font-size: 0.8rem;
} 

.end-location-infobox {
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  border-radius: 0.375rem;
  border: 2px solid black;
  background-color: #ffffff;
  font-size: 0.6rem; 
  line-height: 0.5rem; 
  color: black;
  opacity: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.7rem;
  transform: translateX(-50%);
}

.popup {
  position: fixed;
  top: 45%;
  left: 13%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  backdrop-filter: blur(5px);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px; /* Adjust the width as needed */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out the content and buttons */
}

.popup-content {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
}

.popup-content h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.popup-content .stop-name {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.popup-content .stop-address .distance {
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
}

.popup-content .popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Adjust the spacing between buttons */
  margin-top: 30px;
}

.popup-content .accept-button,
.popup-content .reject-button {
  flex: 1; /* Take up equal space */
  padding: 12px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.popup-content .popup-image {
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  object-fit: cover; /* Ensure the image covers the area */
  border-radius: 5%; /* For a rounded image if needed */
}

.popup-content .accept-button {
  background: #4CAF50; /* Green for accept */
}

.popup-content .accept-button:hover {
  background: #45a049; /* Darker green on hover */
}

.popup-content .reject-button {
  background: #f44336; /* Red for reject */
}

.popup-content .reject-button:hover {
  background: #da190b; /* Darker red on hover */
}

.stop-name {
  font-weight: bold; /* Add bold font weight */
  color: #333; /* Adjust text color */
}