* {
    box-sizing: border-box;
}

.nav {
    z-index: 1000; /* Adjust as necessary */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #37A669;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

.goSnack {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: #246D45;
}

.nav a:active {
    background-color: #555;
}

.login-status {
    font-size: 1rem;
}

.login-status button, .login-status a {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.login-status a:hover {
    background-color: #246D45;
}

.login-status button:focus, 
.login-status a:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.login-status button:active, 
.login-status a:active {
    background-color: #555;
}
