.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
    /* background: url('../Assets/bg.png');  Adjust path to your image 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    overflow: auto; /*  Allow the container to scroll */
  }

  .HomeTitle {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items to the top */
    min-height: 800px;
    height: 100vh;
  }
  
  .home-content {
    margin-top: 10vh;
    text-align: center;
    width: 100%; /* Make sure it takes full width */
  }
  
  .input-container {
    position: fixed; /* Position fixed to stick at the top */
    top: 590px; /* Adjust top spacing as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  
  .curved-input {
    padding: 15px;
    border-radius: 25px; /* Increase border-radius for a more curved look */
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    width: 750px; /* Adjust width as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    backdrop-filter: blur(5px); /* Optional: adds a blur effect to the background */
  }
